/*SCROLLBAR STUFF-----------------------------------------------------------------------*/
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(10, 128, 118); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(29, 103, 163); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
  border: 2px solid rgb(0, 0, 0); /* creates padding around scroll thumb */
}

div::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
div::-webkit-scrollbar-track {
  background: rgb(41, 130, 182); /* color of the tracking area */
}
div::-webkit-scrollbar-thumb {
  background-color: rgb(133, 69, 0); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
  border: 2px solid rgb(0, 0, 0); /* creates padding around scroll thumb */
}
/*SCROLLBAR STUFF-----------------------------------------------------------------------*/

/*Styling for the yjs code-mirror awareness.--------------------------------------------*/
.remote-caret {
  position: absolute;
  border-left: black;
  border-left-style: solid;
  border-left-width: 2px;
  height: 1em;
}
.remote-caret > div {
  position: relative;
  top: -0.4em;
  font-size: 10px;
  background-color: rgb(56, 9, 54);
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: rgb(255, 220, 220);
  padding-left: 3px;
  padding-right: 3px;
  z-index: 3;
}
/*-----------------------------------------------------------------------------------------*/

* {
  background-color: #1b1114;
}

.chatInput {
  color: #fbad2e;
  font-family: monospace;
  text-align: left;
}

.chatMessage {
  color: #fbad2e;
  font-family: monospace;
  text-align: left;
}

.joinedChannel {
  color: #48ff00;
  font-family: monospace;
  text-align: left;
}

.leftChannel {
  color: #c71010de;
  font-family: monospace;
  text-align: left;
}

.commandError {
  color: #787dc2;
  font-family: monospace;
  text-align: left;
}

.textBreak {
  color: #616466;
}

.help {
  color: #228b41;
  font-family: monospace;
  text-align: left;
}

.module {
  color: #0086af;
}

.command {
  color: #76cadf;
}

.keyHint {
  color: #b459af;
}

.chat {
  color: #fbad2e;
}

.channelColor {
  color: #a027b6;
}
.option {
  color: #ca42b3;
}

.argument {
  color: #b8180a;
}

.commandSuccess {
  color: chartreuse;
  font-family: monospace;
  text-align: left;
}

.authSuccess {
  color: rgb(3, 202, 169);
  font-family: monospace;
  text-align: left;
}

.agentAction {
  color: rgb(16, 161, 106);
  font-family: monospace;
  text-align: left;
}

.friend {
  color: rgb(145, 36, 179);
  font-family: monospace;
  text-align: left;
}

.helpDescription {
  color: #bd9d35;
}
.commandInput {
  color: #fbad2e;
  font-family: monospace;
  border: none;
  box-shadow: none;
  width: 75%;
}

input:focus {
  outline: none;
}

.agentName {
  color: #648de4;
}

.focusAgentName {
  color: #46f327;
}

/*Channel module organization.--------------------------------------------------------------*/
.singleItem {
  height: 100%;
  width: 75%;
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
}

.columnItem {
  height: 100%;
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: scroll;
}
/*-------------------------------------------------------------------------------------*/

/*Alternating backgrounds for code module output lines.--------------------------------*/
div.altBG > :nth-of-type(odd) {
  background: rgb(26, 18, 71);
}
/*-------------------------------------------------------------------------------------*/
