* {
  background-color: #252223;
}

.channelBox {
  /* overflow: auto;
  height: 100vh;
  width: 100vw; */
}

.chatBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*  border: 1px solid #00a4bd;*/
}

.chatInput {
  color: #fbad2e;
  font-family: monospace;
  text-align: left;
}

.chatMessage {
  color: #fbad2e;
  font-family: monospace;
  text-align: left;
}

.joinedChannel {
  color: #48ff00;
  font-family: monospace;
  text-align: left;
}

.leftChannel {
  color: #ff0000;
  font-family: monospace;
  text-align: left;
}

.commandError {
  color: #787dc2;
  font-family: monospace;
  height: 14px;
  text-align: left;
}

.help {
  color: #228b41;
  font-family: monospace;
  text-align: left;
}

.terminalBox {
  color: blue;
}

.commandInput {
  color: #fbad2e;
  font-family: monospace;
  border: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}
