* {
  background-color: #231f20;
}

.channelBox {
  overflow: auto;
  height: 100vh;
  width: 100vw;
}

.chatMessage {
  color: #fbad2e;
  font-family: monospace;
  height: 14px;
  text-align: left;
}

.joinedChannel {
  color: #48ff00;
  font-family: monospace;
  height: 14px;
  text-align: left;
}

.leftChannel {
  color: #ff0000;
  font-family: monospace;
  height: 14px;
  text-align: left;
}

.commandError {
  color: #787dc2;
  font-family: monospace;
  height: 14px;
  text-align: left;
}
.terminalBox {
  color: blue;
}

.commandInput {
  color: #fbad2e;
  font-family: monospace;
  border: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}
